@mixin centeredAndColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin glassBackground {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@mixin animationClouds($movement) {
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    position: relative;
    animation-name: $movement;
}